apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      serviceAccountName: backend-sa
      containers:
        - name: backend
          image: pranavhude/backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: db-secrets
          env:
            - name: DB_HOST
              value: "<RDS_ENDPOINT>"
            - name: DB_PORT
              value: "3306"
            - name: DB_NAME
              value: "appdb"
            - name: DB_USER
              value: "admin"
            - name: DB_PASSWORD
              value: "password"
